.direct-message-details-modal {
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.direct-message-details-header {
  height: 44px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(219, 219, 219, 1);
}

.details-header-text {
  margin: 0;
  font-size: 16px;
}

.back-button-header,
.header-spacer {
  flex-basis: 32px;
}

.group-name-form {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 20px 16px;
  border-bottom: 1px solid rgba(219, 219, 219, 1);
}

.group-name-input {
  border: none;
  outline: none;
  padding: 0 8px;
  text-overflow: ellipsis;
  flex: 1;
}

.group-member-content {
  display: flex;
  flex-direction: column;
}

.group-members-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  padding-top: 20px;
}

.group-members-header-text {
  margin: 0;
  font-size: 16px;
}

.add-people-button,
.done-button {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 149, 246, 1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.group-members-list {
  margin: 0;
  padding: 20px 16px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid rgba(219, 219, 219, 1);
}

.group-member {
  display: flex;
  align-items: center;
  gap: 16px;
}

.group-member-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 14px;
  gap: 4px;
}

.group-member-fullname {
  color: rgba(142, 142, 142, 1);
}

.group-members-list .profile-photo-frame {
  margin: 0;
  height: 56px;
  width: 56px;
}

.edit-chat-buttons {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  border-bottom: 1px solid rgba(219, 219, 219, 1);
}

.group-member-options-button {
  padding: 8px;
}

.leave-chat-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 16px;
}

.leave-chat-button,
.delete-chat-button {
  padding: 16px;
  color: rgba(237, 73, 86, 1);
  font-size: 14px;
}

.leave-chat-text {
  color: rgba(142, 142, 142, 1);
  font-size: 12px;
  padding-left: 16px;
}
