.message-post-header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
}

.message-post-footer {
  padding: 12px 16px;
}

.message-post-caption-username {
  font-weight: 600;
}

.message-post-caption-username::after {
  content: " ";
}

.message-post-photo-frame {
  display: flex;
  position: relative;
}

.carousel-icon {
  padding: 4px;
  position: absolute;
  top: 0;
  right: 0;
}

.message-post .feed-photo-post-image {
  position: absolute;
}
