.post-comment {
  display: flex;
  padding: 6px 3px;
  border-top: 1px solid rgba(239, 239, 239, 1);
  position: relative;
}

.post-comment-form {
  display: flex;
  align-items: center;
  flex: 1;
}

.emoji-menu-button,
.post-comment-button {
  padding: 8px;
  cursor: pointer;
}
