.drop-down-modal {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}

.profile-drop-down {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 5px 1px rgba(var(--jb7, 0, 0, 0), 0.0975);
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: stretch;
}

.drop-down-triangle {
  left: 184px;
  bottom: 0;
  top: -6px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 5px 1px rgba(var(--jb7, 0, 0, 0), 0.0975);
  height: 14px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}

.profile-buttons-wrapper {
  background: rgba(255, 255, 255, 1);
  border-radius: 6px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.profile-text-icon,
.saved-text-icon,
.settings-text-icon,
.switch-accounts-text-icon,
.log-out-text-icon {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0 0 auto;
  gap: 12px;
}

.profile-text,
.saved-text,
.settings-text,
.switch-accounts-text,
.log-out-text {
  height: 28px;
  width: 170px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: -3px 0 -4px;
}

.log-out-text-icon {
  padding: 10px 16px;
}

svg {
  display: block;
}

.drop-down-divider {
  background-color: rgba(219, 219, 219, 1);
  border: 0;
  margin: 0;
  height: 1px;
  width: 100%;
}

.profile-drop-down a:hover {
  background-color: rgba(250, 250, 250, 1);
}

.profile-drop-down a:focus {
  background-color: rgba(239, 239, 239, 1);
}

.profile-drop-down.animate {
  animation: fadeUpActivity 0.1s ease-in-out;
}
